@charset "UTF-8";


/* 게시글 해시태그 */
.style-tag {
    background-color: #FFDDC1; /* 스타일 태그 배경색 */
    color: #333;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px; /* 줄바꿈 시 윗줄과 겹치지 않도록 마진 추가 */
    font-weight: bold;
    font-size: 15px;
      display: inline-block; /* 블록 레벨 요소로 변경하여 '#'과 함께 줄바꿈 */
  white-space: nowrap; /* 태그 내부에서는 줄바꿈 방지 */
}

.tpo-tag {
    background-color: #D1E7FF; /* TPO 태그 배경색 */
    color: #333;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px; /* 줄바꿈 시 윗줄과 겹치지 않도록 마진 추가 */
    font-weight: bold;
    font-size: 15px;
    display: inline-block; /* 블록 레벨 요소로 변경하여 '#'과 함께 줄바꿈 */
  	white-space: nowrap; /* 태그 내부에서는 줄바꿈 방지 */
}
.modal_tags {
  display: flex;
  flex-wrap: wrap; /* flex 컨테이너에서 줄바꿈 허용 */
}



/* 프로필 페이지*/
.profile_page {
	margin-top: 50px; /* 네비게이션 높이만큼 여백 추가 */
    height: calc(100vh - 10px); /* 화면 높이에서 네비게이션 높이 제외 */
    padding: 10px;
}
.profile {
	position: fixed;
	display: flex; /* 가로 정렬 */
/* 	margin-top: 100px; 네비게이션 높이만큼 여백 추가 */
    height: 40%;
    padding-left: 10%;
}
.user_top {
	width: 200px; /* 이미지 크기 너비 */
	margin-right: 30px;
    display: flex; /* 가로 정렬을 위한 flexbox */
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬 */
}

.user_img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* 프로필 이미지를 동그랗게 */
    margin-right: 20px; /* user_section과의 간격 조정 */
    margin: 0;
}
.user_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.user_info_box {
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 10px; /* 요소 간격 */
}
.user_name h2 {
    margin: 0; /* 기본 마진 제거 */
    font-size: 20px;
}

/* 프로필 편집 */
.profile_modify {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size:15px;
    padding: 0 10px;
    margin:0 8px;
    border-radius: 5px;
    background-color: #efefef;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.profile_modify:hover {
    background-color: lightgray;
}
.setting{
    display: flex;
    align-items: center;
    justify-content: center;
/*     width: 40px; */
    height: 40px;
}
.setting_img{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    color: black;
}


.user_follow{
    padding-left: 0px;
    display: flex;
}
.user_follow>li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
}
.user_follow>li>span{
    font-weight: bold;
}
