<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.wearwave.mapper.SnapMapper">


<select id="getMaxPostId" resultType="Integer"> <!-- post_id 최대값찾아서 +1 해주기 -->
	select max(post_id) from snap_post_detail
</select>

<!-- 사용자 ID로 닉네임 조회 -->
<select id="getNicknameByUserId" parameterType="string" resultType="com.springboot.wearwave.model.Snap_profile">
    SELECT user_id, nickname FROM snap_profile 
    WHERE user_id = #{userId}
</select>
<insert id="putNickname" parameterType="com.springboot.wearwave.model.Snap_profile">
	insert into snap_profile (user_id, nickname) values(#{user_id}, #{nickname})
</insert>

<insert id="putTpoTag" parameterType="com.springboot.wearwave.model.Post_tpo_tags">
	INSERT INTO post_tpo_tags VALUES (#{post_id}, #{tpo_tag})
</insert>
<insert id="putStyleTag" parameterType="com.springboot.wearwave.model.Post_style_tags">
	INSERT INTO post_style_tags VALUES (#{post_id}, #{style_tag})
</insert>
<insert id="putFeedPost" parameterType="com.springboot.wearwave.model.Snap_post_detail">
	INSERT INTO snap_post_detail (post_id, user_id, reg_date, imagename, height, weight, gender, content) VALUES 
	(#{post_id}, #{user_id}, to_date(sysdate, 'YYYY-MM-DD HH24:MI:SS'), #{imagename}, #{height}, #{weight}, #{gender}, #{content})
</insert>

	
<select id="getPostDetail">

</select>
<select id="getFeedAll" resultType="com.springboot.wearwave.model.Snap_post_detail">
	select post_id, user_id, imagename, height, weight, gender, content
	from Snap_post_detail order by reg_date
</select>
<select id="getFeedList" resultType="com.springboot.wearwave.model.Snapshot_board">
	select seqno, writer, content, to_char(w_date,'YYYY/MM/DD HH24:MI:SS') AS w_date, like_count, imagename, pwd 
	from snapshot_board
</select>

</mapper>