<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.wearwave.mapper.SnapMapper">

<!-- ===댓글관련=== -->
<!-- 댓글 존재여부 확인 -->
<select id="getCommentByNo" parameterType="Integer" resultType="com.springboot.wearwave.model.Snap_comment">
    SELECT * FROM snap_comment WHERE comment_no = #{commentNo}
</select>
<delete id="deleteComment" parameterType="Integer">
    DELETE FROM snap_comment WHERE comment_no = #{commentNo}
</delete>
<insert id="putComment" parameterType="com.springboot.wearwave.model.Snap_comment">
	insert into snap_comment values 
	(#{comment_no}, #{post_id}, #{writer_id}, #{content}, sysdate)
</insert>
<!-- comment_no 최대값찾아서 insert 하는 댓글번호 +1 -->
<select id="getMaxCommentNo" resultType="Integer"> 
	select max(comment_no) from snap_comment
</select>

<!-- 특정 게시글의 댓글과 작성자 정보 가져오기 -->
<select id="getCommentList" parameterType="Integer" resultType="com.springboot.wearwave.model.Snap_comment">
	SELECT c.comment_no, 
	       c.post_id,
	       c.writer_id,
	       c.content, 
	       c.w_date,
	       p.nickname,
	       p.profile_img
	FROM snap_comment c
	LEFT JOIN snap_profile p ON c.writer_id = p.user_id
	WHERE c.post_id = #{postId} ORDER BY c.w_date DESC
</select>



<!-- ===게시물관련=== -->
<!-- 사용자 ID로 닉네임 조회, 프로필테이블에 닉네임 있는지 조회 -->
<select id="getNicknameByUserId" parameterType="string" resultType="com.springboot.wearwave.model.Snap_profile">
    SELECT user_id, nickname FROM snap_profile 
    WHERE user_id = #{userId}
</select>
<insert id="putNickname" parameterType="com.springboot.wearwave.model.Snap_profile">
	insert into snap_profile (user_id, nickname) values(#{user_id}, #{nickname})
</insert>

<insert id="putTpoTag" parameterType="com.springboot.wearwave.model.Post_tpo_tags">
	INSERT INTO post_tpo_tags VALUES (#{post_id}, #{tpo_tag})
</insert>
<insert id="putStyleTag" parameterType="com.springboot.wearwave.model.Post_style_tags">
	INSERT INTO post_style_tags VALUES (#{post_id}, #{style_tag})
</insert>
<insert id="putFeedPost" parameterType="com.springboot.wearwave.model.Snap_post_detail">
	INSERT INTO snap_post_detail (post_id, user_id, reg_date, imagename, height, weight, gender, content) VALUES 
	(#{post_id}, #{user_id}, sysdate, #{imagename}, #{height}, #{weight}, #{gender}, #{content})
</insert>
<select id="getMaxPostId" resultType="Integer"> <!-- post_id 최대값찾아서 +1 해주기 -->
	select max(post_id) from snap_post_detail
</select>

<!-- 게시물 상세정보 -->
<select id="getPostDetailByPostId" parameterType="Integer" resultType="com.springboot.wearwave.model.Snap_post_detail">
    SELECT d.post_id, 
           d.user_id, 
           d.imagename, 
           d.height, 
           d.weight, 
           d.gender, 
           d.content,
           p.nickname,
           p.profile_img
    FROM snap_post_detail d
    LEFT JOIN snap_profile p ON d.user_id = p.user_id
    WHERE d.post_id = #{postId}
</select>
<select id="getAllStyleById" parameterType="Integer" resultType="com.springboot.wearwave.model.Post_style_tags">
	select post_id, style_tag from Post_style_tags where post_id = #{postId}
</select>	
<select id="getAllTpoById" parameterType="Integer" resultType="com.springboot.wearwave.model.Post_tpo_tags">
	select post_id, tpo_tag from Post_tpo_tags where post_id = #{postId}
</select>	
<select id="getFeedAll" resultType="com.springboot.wearwave.model.Snap_post_detail">
	select post_id, user_id, imagename, height, weight, gender, content
	from Snap_post_detail order by post_id DESC
</select>



<select id="getFeedList" resultType="com.springboot.wearwave.model.Snapshot_board">
	select seqno, writer, content, to_char(w_date,'YYYY/MM/DD HH24:MI:SS') AS w_date, like_count, imagename, pwd 
	from snapshot_board
</select><!-- 테스트코드 -->

</mapper>