* {
  box-sizing: border-box;
}

.category-container {
    display: flex;
    width: 1320px;
    flex-wrap: wrap;
    justify-content: space-between; /* 좌측은 카테고리, 우측은 정렬 메뉴 */
    align-items: center; /* 높이 맞춤 */
    margin-top: 18vh;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    gap: 25px;
}


.category-links a{
	 margin-right: 20px; 
}
.category-container a:visited {
    color: inherit;
}

.category-container a {
    text-decoration: none;
    color: initial;
}

/* 상품 목록 컨테이너 */
.product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start; /* 마지막 줄도 왼쪽 정렬 */
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    gap: 30px;
}

/* 개별 상품 스타일 */
.product {
    display: block;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 430px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease;
    flex-grow: 0; /* 크기 자동 조정 방지 */
}

/* hover 효과 */
.product:hover {
    transform: translateY(-10px);
}

/* 이미지 스타일 */
.product img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* 상품 이름과 설명 */
.product-name, .product-description {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 16px;
    color: gray;
    padding: 5px;
}

/* 가격 스타일 */
.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f;
}

/* 상품 링크 */
.product a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
    .product-container {
        justify-content: flex-start; /* 마지막 줄도 왼쪽 정렬 */
    }

    .product {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        height: 320px;
    }
}

@media (max-width: 768px) {
    .product-container {
        justify-content: center;
    }

    .product {
        width: 100%;
        max-width: 300px;
    }
}

.sort-container {
    display: flex;
    align-items: center;
    margin-left: auto;

}

.sort-container label {
    font-size: 16px;
    margin-right: 10px;
}

.sort-container select {
    padding: 5px 10px;
    font-size: 16px;
}